<a href="https://colab.research.google.com/github/shashwatbds/MyProjects/blob/main/Assignment_ADP_Shashwat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

######################################################################################################################################################

**This Jupyter Notebook is the Practical project submission for the *CI7340* Applied Data Programming Module for the MSc. Data Science degree programm at Kingston University. This is a group submission from -** 

1. **Shashwat Bhardwaj - K2149137**
2. **Padmesh Upadhyay - k2136572**
3. **Rohit Chamle - k2055291**
4. **Vinod Raja - k2102329**

#######################################################################################################################################################

In [ ]:
# import required libraries
# Computation Imports
import pandas as pd # Required data set will be loaded into Pandas DataFrame.
import numpy as np # Numpy library will needed to compute Mean, Mode, Median etc.

# Visualization Imports
import seaborn as sns # Seaborn imports for creating heat map scatter plot 
import matplotlib.pyplot as plt # Plotting basic visualization like bar chart, pie chart etc

## Assignee: Shashwat

## **Importing the dataset**


1.   **Load DataSet -**The Required DataSets uploaded to github and thats where the files will be accessed from.
2.   **Load the DataSet -**  into Pandas DataFrame. We have been provided with two DataSet, which would be loaded in features_df and target_df respectively.

In [3]:
## Assignee: Shashwat
features_url="https://raw.githubusercontent.com/shashwatbds/MyProjects/main/DataScience/Dataset/input_features.csv"
target_url="https://raw.githubusercontent.com/shashwatbds/MyProjects/main/DataScience/Dataset/target_values.csv"

features_df= pd.read_csv(input_features)
target_df= pd.read_csv(target_url)

## **Understanding the Data**
We are given two csv files namely **input_features** and **target_values**. 

**Input_features contains the below information :**

**1) Building ID:** Primary key to identify each each building uniquely.  
**2) Location Details:**
Features describing the geographic region in which building exists
> 

*   **geo_level_1_id** - Largest level of Region

> **Data Type:** *Int*

> **Possible Values:** *0-30*


*   **geo_level_2_id** - Sub-region under geo_level_1_id.

> **Data Type:** *Int*

> **Possible Values:** *0-1427*


*   **geo_level_3_id**- Sub-region under geo_level_2_id. Smallest level of sub-region.

> **Data Type:** *Int*

> **Possible Values:**  *0-12567*


**3) foundation_type:** - Categorical feature describing type of foundation used in building.

> **Data Type:** *object(Categorical)*

> **Possible Values:**  *h,i,r,u,w*


**4) count_floors_pre_eq:** - Number of floors in th ebuilding before earthquake.

> **Data Type:** *int*

**5) area_percentage:** - Normalized area of thebuilding footprint.

> **Data Type:** *Int*


**6) height_percentage:** - Normalized height ofthe building footprint.

> **Data Type:** *Int*

**7) land_surface_condition:** - Normalized height ofthe building footprint.

> **Data Type:** *object(Categorical)*

> **Possible Values:**  *n, o, t*


**8) roof_type:** - Type of roof used in the building.

> **Data Type:** *object(Categorical)*

> **Possible Values:**  *n, q, x*

**9) ground_floor_type:** - Type of the ground floor.

> **Data Type:** *object(Categorical)*

> **Possible Values:**  *f, m, v, x, z*


**10) other_floor_type:** - Type of construction used in floors other than ground floor.

> **Data Type:** *object(Categorical)*

> **Possible Values:**  *j, q, s, x*


**11) position:** - Position of the building.

> **Data Type:** *object(Categorical)*

> **Possible Values:**  *o, s, t*


**12) plan_configuration:** - Plan configuration of the building.

> **Data Type:** *object(Categorical)*

> **Possible Values:**  *a, c, d, f, m, n, o, q, s, u*

**13) Super Structure Type:** - Various binary columns describing the type of super strucutre use per building.

> **Data Type:** *int(Binary)*

> **Possible Values:**  *0,1*

> **Super Structure Types:** *adobe_mud, mud_mortar_stone, stone, cement_mortar_stone, mud_mortar_brick, cement_mortar_brick, brick, bamboo, rc_non_engineered, rc_engineered, other*


**14) legal_ownership_status:** - Legal ownership status of land where the building was made.

> **Data Type:** *object(Categorical)*

> **Possible Values:**  *a, r, v, w*

**15) count_families:** - Number of families living in the building.

> **Data Type:** *Int*


**16) has_secondary_use:** - Binary property indicating if the building was used for a secondary perpose or not.

> **Data Type:** *int(Binary)*

> **Possible Values:**  *0,1*

**17) Secondary use kind of building:** - Binary properties that indicating the kind of secondary use building had.

> **Data Type:** *int(Binary)*

> **Possible Values:**  *0,1*

> **Secondary Use Types:** *agriculture, hotel, rental, institution, school, industry, health post, government office, used by police, other use*


**Target_values contains the below information :**

**1) Building ID:** Primary key to identify each each building uniquely.  
**2) Damage Grade:** Damage grade on the building after earthquake. 

> **Data Type:** *int(Category)*

> **Possible Values:** *1,2,3*

> **Damage Grade 1:** *Low Damage*

> **Damage Grade 1:** *Medium amount of damage*

> **Damage Grade 3:** *Complete Destruction*

## **Initial Data Analysis**

## Assignee: Shashwat, Padmesh, Rohit, Vinod
**1)Quality of data:** 
Assignee: Shashwat

> **a)Frequency counts:** *Number of rows, columns, null counts etc.*


> **b)Descriptive/Summary statistics:** *(mean, median, standard deviation, quantiles* 


> **c)Normality:** *Frequency histograms*


**2)Quality of measurements** Assignee: Shashwat

**3)Datatransformation:**


> **a)Data Merging** Assignee: Shashwat

> **b)Transpose** Assignee: Padmesh

> **c)Data Type change** Assignee: Shashwat


> **d)Data Sorting/Data Deletion** Assignee: Rohit


**4)Characteristics of dataset:**

> **a)Printing top and bottom 8 rows** Assignee: Shashwat

> **b)Basic plots** Assignee: Rohit

> **c)Correlation analysis** Assignee: Vinod

**5) T-Test, Annova Test:** Assignee Shashwat

**6) Correlation HeatMap:** Assignee Vinod

In [4]:
## Frequency counts
## DataSet Type: input_features
print(features_df.info())
## Observations:
#### Features DataSet has total of 39 columns, each column has 260601 entries.
#### Null Entries: None of the columns have any null or missing values.
#### Data Types:  Major Data types are int64 and object.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(31), object(8)
memory usage: 77.5+ MB
None

In [18]:
## Frequency counts
## DataSet Type: target_values
print(target_df.info())
## Observations:
##  1) Features DataSet has total of 2 columns, each column has 260601 entries.
##  2) Null Entries: None of the columns have any null or missing values.
##  3) Data Types:  Both building id and damage grade of type int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int64
 1   damage_grade  260601 non-null  int64
dtypes: int64(2)
memory usage: 4.0 MB
None

In [10]:
## Print Top 8 rows for features data
features_df.head(8)

   building_id  ...  has_secondary_use_other
0       802906  ...                        0
1        28830  ...                        0
2        94947  ...                        0
3       590882  ...                        0
4       201944  ...                        0
5       333020  ...                        0
6       728451  ...                        0
7       475515  ...                        0

[8 rows x 39 columns]

In [19]:
## Print Last 8 rows for features data
features_df.tail(8)

        building_id  ...  has_secondary_use_other
260593       226421  ...                        0
260594       159555  ...                        0
260595       827012  ...                        0
260596       688636  ...                        0
260597       669485  ...                        0
260598       602512  ...                        0
260599       151409  ...                        0
260600       747594  ...                        0

[8 rows x 39 columns]

In [11]:
## Print Top 8 rows for target(damage grade) data
target_df.head(8)

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3
5       333020             2
6       728451             3
7       475515             1

In [20]:
## Print Last 8 rows for target(damage grade) data
target_df.tail(8)

        building_id  damage_grade
260593       226421             2
260594       159555             2
260595       827012             3
260596       688636             2
260597       669485             3
260598       602512             3
260599       151409             2
260600       747594             3

In [9]:
## Descriptive/Summary statistics (mean, median, standard deviation, etc.)
# percentile list
perc =[.20, .40, .60, .80]
# list of dtypes to include
features_df.describe(perc)

        building_id  ...  has_secondary_use_other
count  2.606010e+05  ...            260601.000000
mean   5.256755e+05  ...                 0.005119
std    3.045450e+05  ...                 0.071364
min    4.000000e+00  ...                 0.000000
20%    2.086920e+05  ...                 0.000000
40%    4.204440e+05  ...                 0.000000
50%    5.257570e+05  ...                 0.000000
60%    6.318770e+05  ...                 0.000000
80%    8.422900e+05  ...                 0.000000
max    1.052934e+06  ...                 1.000000

[10 rows x 31 columns]

In [29]:
## Data Merging: For preparing data for EDA we will merge the two Dataframes on column building_id.
dfs = [target_df,features_df]
merged_df = pd.concat(dfs, axis=1)
merged_df.head(5)

   building_id  ...  has_secondary_use_other
0       802906  ...                        0
1        28830  ...                        0
2        94947  ...                        0
3       590882  ...                        0
4       201944  ...                        0

[5 rows x 41 columns]

In [30]:
## Data Type change: Categorization for few object columns
# String column transformation - transforming them as categories
# https://stackoverflow.com/questions/51241575/calculate-correlation-between-columns-of-strings
buildings_df['foundation_type_codes']=merged_df['foundation_type'].astype('category').cat.codes
buildings_df['legal_ownership_status_codes']=merged_df['legal_ownership_status'].astype('category').cat.codes
buildings_df['position_codes']=merged_df['position'].astype('category').cat.codes
buildings_df['land_surface_condition_codes']=merged_df['land_surface_condition'].astype('category').cat.codes
buildings_df['roof_type_codes']=merged_df['roof_type'].astype('category').cat.codes
buildings_df['ground_floor_type_codes']=merged_df['ground_floor_type'].astype('category').cat.codes
buildings_df['other_floor_type_codes']=merged_df['other_floor_type'].astype('category').cat.codes
buildings_df['legal_ownership_status_codes']=merged_df['legal_ownership_status'].astype('category').cat.codes

In [32]:
buildings_df.head(5)

   building_id  damage_grade  ...  ground_floor_type_codes  other_floor_type_codes
0       802906             3  ...                        0                       1
1        28830             2  ...                        3                       1
2        94947             3  ...                        0                       3
3       590882             2  ...                        0                       3
4       201944             3  ...                        0                       3

[5 rows x 48 columns]

## **Research Question Investigation -**

In [ ]:
## Analysis type - Surface and Foundation Analysis
## Question 1:  What are the worst impacted regions? What are the more vulnerable land surface conditions in them?
## Assignee: Shashwat

In [ ]:
## ## Analysis type - Surface and Foundation Analysis
## Question 2: In buildings with highest damage, what are the most common foundation types and land surface conditions?
## Assignee: Shashwat

In [ ]:
## Analysis type - Floor Type and Structure Type Analysis
## Question 3: What is the worst impacted ground floor type and foundation type combination in regions with the highest damage?
## Assignee: Padmesh

In [ ]:
## Analysis type - Floor Type and Structure Type Analysis
## Question 4: Which structure type and foundation type combinations are unsafe in regions with most impact?
## Assignee: Padmesh

In [ ]:
## Analysis type - Reliability feature Analysis
## Question 5: What is the relatively safer floor count per foundation type across different grades of damage?
## Assignee: Rohit

In [ ]:
## Analysis type - Reliability feature Analysis
## Question 6 What is safest floor type and roof types combination across different grades of impacts? (Includes ground floor as well as other floor types)
## Assignee: Rohit

In [ ]:
## Analysis type - Boundary Condition Analysis
## Question 7: What is the safe floor count for the buildings in regions with highest damage?
## Assignee: Vinod

In [ ]:
## Analysis type - Boundary Condition Analysis
## Question 8: After what age a building becomes more prone to damage across regions?
## Assignee: Vinod

In [ ]:
## Analysis type - Relative property analysis
## 9) Does secondary use for a building make it more vulnerable? What type of secondary use of building is most common in regions with highest damage grade?
## Assignee: Vinod

In [ ]:
## Analysis type - Relative property analysis
## Question 10: What is most common position of highly damaged buildings?
## Assignee: Padmesh